  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
  <div class="hero-wrapper pt-10" >
    <div class="container">

        <div class="row banner-text w-100">
          <div class="col-lg-5">
            <h1 class="text-white">Achieve Amazing Things with your Data</h1>
            <p class="subtext text-white"><span>Collect seamless Data anywhere. Create mobile forms in just minutes</span></p>
            <div class="down-btn"> <a [routerLink]='["/"]' style="width: 220px;" class="btn btn-outline-info m-b-10">Start Free Trial</a> </div>
          </div>
        </div>
      </div>
    </div>

      <!-- ============================================================== -->
      <!-- Featured Section -->
      <!-- ============================================================== -->
      <div class="fix-width" style="padding: 60px 0px;">
        <div class="row light-blue">
            <div class="col-md-12" id="demos">
                <div class="text-center">
                    <h2 class="display-7">Why DCAnalytics</h2>
                    <p>Don’t go by our Words, checkout our awesome demos and verify yourself.
                        <br/>You will surely fall in love over the fresh design & brilliant code.</p>
                </div>
                <div class="max-width">
                    <div class="row text-center">
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/ic_timer.png" alt="Real Time Data" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                <h4 class="font-500">Real Time Data</h4>
                            </div>
                            <p>Get more accurate and up-to-date data with validation logic, skip logic, monitor what field teams are doing with pre-built access controls </p>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/ic_contact_form.png" alt="Contact Form" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                <h4 class="font-500">Custom Form Builder</h4>
                            </div>
                            <p>Design forms, ranging from the simple to complex, in minutes with our intuitive form builder. Set up any type of data collection workflow.</p>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/ic_question.png" alt="Rich Question Types" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                <h4 class="font-500">Rich Question Types</h4>
                            </div>
                            <p>Collect any type of data—from text to audio-video. Choose from 28+ question types, including advanced options such as location and monitoring.</p>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/ic_human.png" alt="Seamless Intergretion" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                <h4 class="font-500">Seamless Intergretion</h4>
                            </div>
                            <p>Set up powerful analytics dashboards. Export your data to external tools like Google Docs, Tableau, Power BI, Klipfolio, Zapier and Qlik </p>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/ic_cloud_computing.png" alt="Sync to Cloud" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                <h4 class="font-500">Sync to Cloud</h4>
                            </div>
                            <p>No need for storage space. Gives you great access to data assets on the go. Never miss out on something important. </p>
                            </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/ic_location.png" alt="Location Capture" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                <h4 class="font-500">Location Capture</h4>
                            </div>
                            <p>Allow automatic location capture to ensure the data collected is from the right location.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <section style="background: #ADE8F4;padding: 60px 0px;">
      <div class="fix-width">
        <div class="row light-blue">
            <div class="col-md-12" id="demos">
                <div class="text-center">
                    <h2 class="display-7">Seamless Intergration</h2>
                </div>
                <div class="max-width">
                    <div class="row text-center">
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/powerbi.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                            </div>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/klipfolio.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                            </div>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/qlik.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                            </div>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/zapier.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                            </div>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/google_sheets.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                            </div>
                        </div>
                        <div class="col-md-4 m-t-40">
                            <div class="image-box">
                                <img src="assets/images/powerbi.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </section>
      <!-- ============================================================== -->
      <!-- Testimonial -->
      <!-- ============================================================== -->
      <div class="row light-blue" style="padding: 60px 0px;">
          <div class="col-md-12">
              <div class="fix-width text-center"> <h2 class="text-info display-7" style="margin-bottom: 35px;">Customer Satisfaction</h2>
                  <div class="tesimonial-box owl-carousel owl-theme" id="owl-demo2">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <p class="testimonial-text">Cumque imperdiet dui lacinia rhoncus dui quis officia quaerat, vitae optio, nec magnam pellentesque cumque ac dui omnis, tellus fusce, do elit, aut consectetur? Vero laoreet curabitur mollit in cumque, anim, porttitor, lorem diam, sunt magnis pulvinar dignissim magnam necessitatibus facilisi rem eget beatae ad. Excepteur, inventore modi dignissimos. Maecenas.</p>
                                <div class="username"><b>John Doe</b><br>Manager Uganda Breweries</div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <p class="testimonial-text">Cumque imperdiet dui lacinia rhoncus dui quis officia quaerat, vitae optio, nec magnam pellentesque cumque ac dui omnis, tellus fusce, do elit, aut consectetur? Vero laoreet curabitur mollit in cumque, anim, porttitor, lorem diam, sunt magnis pulvinar dignissim magnam necessitatibus facilisi rem eget beatae ad. Excepteur, inventore modi dignissimos. Maecenas.</p>
                                <div class="username"><b>John Doe</b><br>Manager Uganda Breweries</div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
