<div class="container-fluid">
    <div class="" style="background-image: url('assets/images/group_318.jpg');background-size: cover;padding: 100px 0px;margin-bottom: 50px;">
        <div class="fix-width">
            <div class="row banner-text">
                <div class="col-lg-6 m-t-20">
                    <h1 class="text-white">Get In Touch</h1> 
                    <p class="subtext text-white"><span>Ut sociosqu do accusantium aliquip semper amet qui dignissimos. Aspernatur accumsan aliquet phasellus itaque? Pellentesque eaque beatae bibendum vestibulum dapibus dicta? Porta ea quisquam, interdum quis. Consectetuer. Nostra justo molestie, quia convallis. Magni natus expedita reiciendis, libero cupidatat commodo expedita, quos donec, dolor erat, ipsam, saepe incidunt occaecat! Mus, reprehende.</span></p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="card card-body" style="position: absolute;top: 25px;background: #ade8f4b0;border-color: #ADE8F4;width: 100%;">
                        <form>
                            <div class="form-group">
                                <label for="example-month-input" class="col-form-label">Full Name</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="example-month-input" class="col-form-label">Organisation</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="example-month-input" class="col-form-label">Email</label>
                                <input class="form-control" type="email">
                            </div>
                            <div class="form-group">
                                <label for="example-month-input" class="col-form-label">Message</label>
                                <textarea  class="form-control" rows="6" id="example-month-input"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info col-lg-5">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container light-blue">
        <div class="row" style="margin-bottom: 80px;">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/images/ic_group_214.png" height="43" width="43">
                    </div>
                    <div class="col-md-9">
                        <p><span>support@DCAnalyticsapp.com</span></p>
                        <p><span>info@rocksideconsuts.com</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/images/ic_group_213.png">
                    </div>
                    <div class="col-md-9">
                        <p><span>+256 (0) 755 567 880</span></p>
                    </div> 
                </div> 
                <div class="row" style="margin-left: 3px; margin-top: 20px;">
                    <a><img src="assets/images/ic_facebook.png" style="width:43px;height:43px;margin-right: 10px;" /></a>
                    <a><img src="assets/images/ic_instagram.png" style="width:43px;height:43px;margin-right: 10px;" /></a>
                    <a><img src="assets/images/ic_youtube.png" style="width:43px;height:43px;margin-right: 10px;" /></a>
                </div>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</div>