<section id="wrapper" class="login-register" style="background-image:url('assets/images/group_316.jpg'); background-size: cover;">
  <div class="login-box card">
    <div class="card-body">
      <form #credentials="ngForm" class="form-horizontal" (ngSubmit)="OnUserAuthentication(credentials.value)" id="loginform" action="index.html">
        <a href="javascript:void(0)" class="text-center db"><img src="assets/images/ic_logo.png" style="width: 24px;" alt="AI"><br><span>DCAnalytics</span></a>
        <div class="form-group m-t-40 text-center" *ngIf="authentication.FailedAuthentication">
          <label class="text-danger">Username or password is incorrect</label>
        </div>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Username" name="UserName" ngModel [disabled]="isBusy">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="Password" name="Password" ngModel [disabled]="isBusy">
          </div>
        </div>
        <div class="form-group m-b-10">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-b-10">
              <input id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> Remember me </label>
            </div>
            <a href="#/forgot" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button *ngIf="!isBusy" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
            <button *ngIf="isBusy" class="btn btn-info btn-lg btn-block" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Please...
          </button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" style="display: none;" data-toggle="modal" data-target="#infobox" #infobox><i class="ti-close" aria-hidden="true"></i></button>
<div id="infobox" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Notice</h4>
        <button type="button" style="visibility: hidden;" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="text-center">Your acccount has beeen disabled, please contact your administrator for a possible solution</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info ai-btn waves-effect" data-dismiss="modal">Ok</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</section>
