<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="round round-lg align-self-center round-info"><i class="ti-wallet"></i></div>
                  <div class="m-l-20 align-self-center">
                      <h4 class="m-b-0 font-light">Clients</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="round round-lg align-self-center round-warning"><i class="mdi mdi-cellphone-link"></i></div>
                  <div class="m-l-20 align-self-center">
                      <h4 class="m-b-0 font-light">Users</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="round round-lg align-self-center round-primary"><i class="mdi mdi-cart-outline"></i></div>
                  <div class="m-l-20 align-self-center">
                      <h4 class="m-b-0 font-light">Invoices</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
      <div class="card">
          <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-bullseye"></i></div>
                  <div class="m-l-20 align-self-center">
                      <h4 class="m-b-0 font-light">Packages</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Column -->
</div>

<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="card card-inverse card-primary">
        <div class="card-body">
            <div class="d-flex">
                <div class="m-r-20 align-self-center">
                    <h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                <div>
                    <h3 class="card-title">Active Devices</h3>
                    <h6 class="card-subtitle">March  2017</h6> </div>
            </div>
            <div class="row">
                <div class="col-4 align-self-center">
                    <h5 class="font-light text-white">654</h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card card-inverse card-success">
        <div class="card-body">
            <div class="d-flex">
                <div class="m-r-20 align-self-center">
                    <h1 class="text-white"><i class="icon-cloud-download"></i></h1></div>
                <div>
                    <h3 class="card-title">Responses</h3>
                    <h6 class="card-subtitle">As of today</h6> </div>
            </div>
            <div class="row">
                <div class="col-4 align-self-center">
                    <h5 class="font-light text-white">35487</h5>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Mobile Activity</h3>
            <h6 class="card-subtitle">Different Devices Used to Visit</h6>
            <div id="visitor" style="height:140px; width:100%;"></div>
        </div>
        <div>
            <hr class="m-t-0 m-b-0">
        </div>
        <div class="card-body text-center ">
            <ul class="list-inline m-b-0">
                <li>
                    <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6> </li>
                <li>
                    <h6 class="text-muted  text-    rimary"><i class="fa fa-circle font-10 m-r-10"></i>Web</h6> </li>
            </ul>
        </div>
    </div>
  </div>
</div>