<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <p *ngIf="!templates"><em>Loading...</em></p>
        <div *ngIf="templates">
          <div class="row">
            <div class="col-9">
              <h5>Templates</h5>
            </div>
            <div class="col-3">
              <a class="btn btn-info ai-btn btn-rounded btn-block" [routerLink]='["/architect"]' [queryParams]="{ action: 'template' }" >Create New Template</a>
            </div>
          </div>
          <div style="padding: 20px; text-align: center; margin-top: 20px;" *ngIf="templates.length == 0">You have no templates  added yet</div>
          <div class="m-t-40" *ngIf="templates.length > 0">
            <table class='display nowrap table table-hover table-striped table-bordered'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Category</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let template of templates">
                  <td><a [routerLink]='["/architect"]' [queryParams]="{Id: template.OID, action: 'template' }">{{ template.Name }}</a></td>
                  <td>{{ templateTypes[template.TemplateType] }}</td>
                  <td>{{ template.Category.Name }}</td>
                  <td>
                    <!--<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-write" aria-hidden="true"></i></button>-->
                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#delete" id="{{template.OID}}" (click)="SetTemplate($event)"><i class="ti-close" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Please wait Modal-->
<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" style="display: none;" data-toggle="modal" data-target="#i_pleasewait" #i_pleasewait><i class="ti-close" aria-hidden="true"></i></button>
<div id="i_pleasewait" class="modal fade in" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header" style="border: 0;padding: 0;">
        <button type="button" style="visibility: hidden;" class="close" data-dismiss="modal" aria-hidden="true" #x_pleasewait>×</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div>
          <svg class="circular" viewBox="25 25 50 50" style="height: 30px;position: inherit !important;">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
          <label>Please wait...</label>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--Please confirm Modal-->
<div id="delete" class="modal fade in" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header" style="border: 0;padding: 0;">
        <button type="button" style="visibility: hidden;" class="close" data-dismiss="modal" aria-hidden="true" #x_confirmed>×</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div class="col-lg-12">
          <label>Are you sure you want delete this template?<br> <label style="color: #f00;">Please note : All sections linked to it will be delete</label></label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info ai-btn waves-effect" (click)="DeleteTemplate()">Delete</button>
        <button type="button" class="btn btn-outline-info ai-btn waves-effect" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!--Please wait Modal-->
<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" style="display: none;" data-toggle="modal" data-target="#pleasewait" #pleasewait><i class="ti-close" aria-hidden="true"></i></button>
<div id="pleasewait" class="modal fade in" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header" style="border: 0;padding: 0;">
        <button type="button" style="visibility: hidden;" class="close" data-dismiss="modal" aria-hidden="true" #x_pleasewait>×</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div>
          <svg class="circular" viewBox="25 25 50 50" style="height: 30px;position: inherit !important;">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
          <label>Please wait...</label>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>