<div class="container-fluid">
    <div class="" style="background-image: url('assets/images/group_321.jpg');padding: 100px 0px;margin-bottom: 50px;">
        <div class="fix-width">
            <div class="row banner-text">
                <div class="col-lg-5 m-t-20">
                    <h1 class="text-white">Audits &amp; Surveys</h1> 
                    <p class="subtext text-white"><span>Deploy custom forms to field teams to conduct assessment for your Business. Transform your data in powerful insights </span></p>
                    <div class="down-btn"> <a href="#demos" class="btn btn-outline-info m-b-10">Customer Stories</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container light-blue">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-6">
                <h2>Consumer and Rental Audits</h2>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="assets/images/markus_spiske.jpg" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-6">
                <img class="img-responsive" src="assets/images/markus_spiske.jpg" />
            </div>
            <div class="col-lg-6">
                <h2>Business Inteligence</h2>
                <p>Drive better, faster decision making by analyzing your data for deeper insights. Get access to Competitor informations, Operational Audit compliance Check</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-6">
                <h2>Customer Satisfication</h2>
                <p><span>DCAnalytics integrates with tools you already use like Qlik, Tableau, Power Bi <br>
                    Build heatmaps, data clusters,  and more all with your own data in your own workflow.<br>                    
                    Its 100% customizable to suit your specific needs</span></p>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="assets/images/markus_spiske.jpg" />
            </div>
        </div>
    </div>
</div>