<div class="container-fluid">
    <div class="" style="background-image: url('assets/images/group_318.jpg');background-size: cover;padding: 100px 0px;margin-bottom: 50px;">
        <div class="fix-width">
            <div class="row banner-text">
                <div class="col-lg-5 m-t-20">
                    <h1 class="text-white">Experience our dedicated team of experts</h1> 
                    <p class="subtext text-white"><span>Drive commercial success with smarter, faster and consistent decision making.<br>
                        Transform your data into powerful insights.</span></p>
                    <div class="down-btn"> <a href="#demos" class="btn btn-outline-info m-b-10">Customer Stories</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container light-blue">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-6">
                <h2>What We Do</h2>
                <p><span>Corporis voluptas libero corrupti ullamco dapibus, quos mollitia? Magni integer, aliquid exercitation modi libero eleifend aliquet voluptates, dolor nostrud excepturi reiciendis varius voluptatem voluptates dictumst laboriosam voluptatibus purus, sequi eiusmod sequi torquent consectetur, senectus scelerisque hendrerit, voluptas dictum amet ipsa. Nascetur cumque? Nostrud pharetra quasi varius consectetur amet nisi potenti.</span></p>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="assets/images/markus_spiske.jpg" />
            </div>
        </div>
    </div>
    <section>
        <div class="container light-blue">
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-lg-6">
                    <div class="row m-t-10">
                        <!-- .col -->
                        <div class="col-lg-4 col-md-6"> 
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> 
                                    <img class="img-responsive" src="assets/images/rectangle_91.jpg" alt="John Doe">
                                </a>
                            </div>
                            <h5 class="font-500" style="margin-top: 10px;">John Doe</h5>
                            <p>Corporis voluptas libero</p>
                        </div>
                        <!-- /.col -->
                        <!-- .col -->
                        <div class="col-lg-4 col-md-6"> 
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> 
                                    <img class="img-responsive" src="assets/images/rectangle_91.jpg" alt="John Doe">
                                </a>
                            </div>
                            <h5 class="font-500" style="margin-top: 10px;">John Doe</h5>
                            <p>Corporis voluptas libero</p>
                        </div>
                        <!-- /.col -->
                        <!-- .col -->
                        <div class="col-lg-4 col-md-6"> 
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> 
                                    <img class="img-responsive" src="assets/images/rectangle_91.jpg" alt="John Doe">
                                </a>
                            </div>
                            <h5 class="font-500" style="margin-top: 10px;">John Doe</h5>
                            <p>Corporis voluptas libero</p>
                        </div>
                        <!-- .col -->
                        <div class="col-lg-4 col-md-6"> 
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> 
                                    <img class="img-responsive" src="assets/images/rectangle_91.jpg" alt="John Doe">
                                </a>
                            </div>
                            <h5 class="font-500" style="margin-top: 10px;">John Doe</h5>
                            <p>Corporis voluptas libero</p>
                        </div>
                        <!-- .col -->
                        <div class="col-lg-4 col-md-6"> 
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> 
                                    <img class="img-responsive" src="assets/images/rectangle_91.jpg" alt="John Doe">
                                </a>
                            </div>
                            <h5 class="font-500" style="margin-top: 10px;">John Doe</h5>
                            <p>Corporis voluptas libero</p>
                        </div>
                        <!-- .col -->
                        <div class="col-lg-4 col-md-6"> 
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> 
                                    <img class="img-responsive" src="assets/images/rectangle_91.jpg" alt="John Doe">
                                </a>
                            </div>
                            <h5 class="font-500" style="margin-top: 10px;">John Doe</h5>
                            <p>Corporis voluptas libero</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 style="margin-bottom: 20px;">Meet Our Team</h2>
                    <p><span>Corporis voluptas libero corrupti ullamco dapibus, quos mollitia? Magni integer, aliquid exercitation modi libero eleifend aliquet voluptates, dolor nostrud excepturi reiciendis varius voluptatem voluptates dictumst laboriosam voluptatibus purus, sequi eiusmod sequi torquent consectetur, senectus scelerisque hendrerit, voluptas dictum amet ipsa. Nascetur cumque? Nostrud pharetra quasi varius consectetur amet nisi potenti.</span></p>
                    <div class="down-btn" style="margin-top: 45px;"> 
                        <a href="#demos" class="btn btn-info m-b-6" style="margin-right: 25px; background-color: #001B84; width: 145px;">Join Our Team</a>
                        <a href="#demos" class="btn btn-info m-b-6" style="background-color: #001B84; width: 145px;">Careers</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>