<div class="container-fluid">
    <div class="" style="background-image: url('assets/images/group_318.jpg');background-size: cover;padding: 100px 0px;margin-bottom: 50px;">
        <div class="fix-width">
            <div class="row banner-text">
                <div class="col-lg-5 m-t-20">
                    <h1 class="text-white">Careers</h1> 
                    <p class="subtext text-white"><span>Donec, eius diamlorem rhoncus magni? Nostra quam corporis consectetuer. Curae, mollis dicta, ducimus eros doloremque dui dolor accumsan, proin morbi aspernatur, aliquam primis sit vero scelerisque, malesuada dui distinctio fermentum. Numquam officia? Natoque egestas</span></p>
                    <div class="down-btn"> <a href="#demos" class="btn btn-outline-info m-b-10">Join Rockside</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container light-blue">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-6">
                <h2>Life at Rockside</h2>
                <p><span>Corporis voluptas libero corrupti ullamco dapibus, quos mollitia? Magni integer, aliquid exercitation modi libero eleifend aliquet voluptates, dolor nostrud excepturi reiciendis varius voluptatem voluptates dictumst laboriosam voluptatibus purus, sequi eiusmod sequi torquent consectetur, senectus scelerisque hendrerit, voluptas dictum amet ipsa. </span></p>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="assets/images/markus_spiske.jpg" />
            </div>
        </div>
        <div class="row">
            <h1 style="text-align: center;width: 100%;">Current Openings</h1>
            <div class="down-btn" style="margin: 20px auto;">
                <button type="button" class="btn waves-effect waves-light btn-outline-secondary" style="width: 160px; margin-right: 15px;">Search by job Title</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-secondary" style="width: 160px; margin-right: 15px;">All Offices</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-secondary" style="width: 160px;">All Departments</button>
            </div>
        </div>
    </div>
</div>