<div class="container-fluid">
    <div class="" style="background-image: url('assets/images/group_321.jpg'); background-size: cover; padding: 100px 0px;margin-bottom: 50px;">
        <div class="fix-width">
            <div class="row banner-text">
                <div class="col-lg-5 m-t-20">
                    <h1 class="text-white">Flexible, Affordable, Pricing Models</h1> 
                </div>
            </div>
        </div>
    </div>
    <div class="container light-blue">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="pricing-box" style="border-right: 1px solid rgba(120, 130, 140, 0.13); ">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <h4 class="text-center">Silver</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>24</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"><i class="icon-user"></i> 3 Members</div>
                                    <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                                    <div class="price-row"><i class="icon-drawar"></i> 50GB Storage</div>
                                    <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                                    <div class="price-row" style="padding: 10px;">
                                        <button class="btn btn-outline-primary btn-block waves-effect waves-light m-t-20">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="pricing-box" style="border-right: 1px solid rgba(120, 130, 140, 0.13); ">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <h4 class="text-center">Gold</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>24</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"><i class="icon-user"></i> 3 Members</div>
                                    <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                                    <div class="price-row"><i class="icon-drawar"></i> 50GB Storage</div>
                                    <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                                    <div class="price-row" style="padding: 10px;">
                                        <button class="btn btn-outline-primary btn-block waves-effect waves-light m-t-20">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="pricing-box" style="border-right: 1px solid rgba(120, 130, 140, 0.13); ">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <h4 class="text-center">Platinum</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>24</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"><i class="icon-user"></i> 3 Members</div>
                                    <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                                    <div class="price-row"><i class="icon-drawar"></i> 50GB Storage</div>
                                    <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                                    <div class="price-row" style="padding: 10px;">
                                        <button class="btn btn-outline-primary btn-block waves-effect waves-light m-t-20">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="pricing-box" style="border-right: 1px solid rgba(120, 130, 140, 0.13); ">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <h4 class="text-center">Enterprise</h4>
                                    <h2 class="text-center"><span class="price-sign">$</span>24</h2>
                                    <p class="uppercase">per month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"><i class="icon-user"></i> 3 Members</div>
                                    <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                                    <div class="price-row"><i class="icon-drawar"></i> 50GB Storage</div>
                                    <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                                    <div class="price-row" style="padding: 10px;">
                                        <button class="btn btn-outline-primary btn-block waves-effect waves-light m-t-20">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>