<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <p *ngIf="!templates"><em>Loading...</em></p>
        <div *ngIf="templates">
          <div class="row">
            <div class="col-6">
              <h5>Templates</h5>
            </div>
            <div class="col-3">
              <button class="btn btn-info ai-btn btn-rounded btn-block" (click)="OnCancel()" >Cancel</button>
            </div>
            <div class="col-3">
              <a class="btn btn-info ai-btn btn-rounded btn-block disabled" [routerLink]='["/architect"]' *ngIf="!_template" [queryParams]="{ action: _action }" >Continue</a>
              <a class="btn btn-info ai-btn btn-rounded btn-block" [routerLink]='["/architect"]' *ngIf="_template" [queryParams]="{ action: _action, template_id: _template.OID, Configuration_Id: Configuration_Id}" >Continue</a>
            </div>

            <div class="col-12 m-t-20">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Search templates here..." (change)="TemplateChanged($event.target.value)"> 
                <span class="input-group-addon" style="padding: 5px 15px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; margin-left: -1px; border: 1px solid #ced4da; background-color: #e9ecef;"> 
                  <span class="fa fa-search"></span> 
                </span>
              </div>
            </div>
          </div>
          <div style="padding: 20px; text-align: center; margin-top: 20px;" *ngIf="templates.length == 0">We've have no templates for you yet, come back again</div>
          <div class="row m-t-40" *ngIf="templates.length > 0">           
            <div class="row p-10" style="width: 100%;" *ngFor="let category of categories">
              <div class="col-md-12"><label style="font-weight: bold; padding-bottom: 10px;">{{category.Name}}</label></div>
              <div class="col-md-3" *ngFor="let template of FilterByCategory(category)">
                <a class="btn btn-outline-secondary btn-block" [ngClass]="template == _template? 'active': ''" id="{{template.OID}}" (click)="OnTemplateSelected($event)">
                  <label>{{template.Name}}</label>
                  <div><label style="font-size: 10px;">Complete Traceability</label></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Please wait Modal-->
<button type="button" class="btn btn-sm btn-icon btn-pure btn-outline" style="display: none;" data-toggle="modal" data-target="#i_pleasewait" #i_pleasewait><i class="ti-close" aria-hidden="true"></i></button>
<div id="i_pleasewait" class="modal fade in" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header" style="border: 0;padding: 0;">
        <button type="button" style="visibility: hidden;" class="close" data-dismiss="modal" aria-hidden="true" #x_pleasewait>×</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div>
          <svg class="circular" viewBox="25 25 50 50" style="height: 30px;position: inherit !important;">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
          <label>Please wait...</label>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>