<div class="container-fluid">
      <div class="" style="background-image: url('assets/images/group_320.jpg');background-size: cover;padding: 100px 0px;">
        <div class="fix-width">
            <div class="row banner-text">
                <div class="col-lg-5 m-t-20">
                    <h1 class="text-white">Agriculture End To End</h1> 
                    <p class="subtext text-white" style="margin-bottom: 50px;"><span>Collect seamless Data anywhere. Create mobile forms in just minutes</span></p>
                    <div class="down-btn"> <a [routerLink]='["/pricing"]' style="width: 220px;" class="btn btn-outline-info m-b-10">Start Free Trial</a> </div>
                </div>
            </div>
        </div>
    </div>
    <section class="features">
        <div class="container">
            <div class="fix-width" style="padding: 60px 0px;">
                <div class="row light-blue fix-width">
                    <div class="col-md-12" id="demos">
                        <div class="text-center">
                            <h2 class="display-7">Key Features</h2>
                        </div>
                        <div class="max-width">
                            <div class="row text-center">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="row">
                                    <div class="col-md-4 m-t-40">
                                        <div style="border: 1px dashed; padding:10px;height: 100%;">
                                            <div class="image-box">  
                                                <img src="assets/images/ic_engagement.png" alt="Farmer Enrolment" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                                <h4 class="font-500">Farmer Enrolment </h4>
                                            </div>
                                            <p> Create farmer profiles capture information age, gender, family size and other important info you would like capture.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-t-40">
                                        <div style="border: 1px dashed; padding:10px;height: 100%;">
                                            <div class="image-box"> 
                                                <img src="assets/images/ic_engagement.png" alt="Contact Form" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                                <h4 class="font-500">Farm Inspection</h4>
                                            </div>
                                            <p>Capture information like farm size, crops grown, estimated yield, pest & diseases farm management practices. It’s periodic and need based.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-t-40">
                                        <div style="border: 1px dashed; padding:10px;height: 100%;">
                                            <div class="image-box"> 
                                                <img src="assets/images/ic_engagement.png" alt="Certification" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                                <h4 class="font-500">Certification</h4>
                                            </div>
                                            <p> Create and maintain a digital Internal Control System (ICS) for Audits and compliance. Add certification standards like GAP, Fairtrade etc</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 m-t-40"></div>
                                    <div class="col-md-4 m-t-40">
                                        <div style="border: 1px dashed; padding:10px;height: 100%;">
                                            <div class="image-box"> 
                                                <img src="assets/images/ic_engagement.png" alt="Extension" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                                <h4 class="font-500">Extension</h4>
                                            </div>
                                            <p> Field Agents can provide information on seeds, post-harvest handing and other Good Agricultural practices.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-t-40">
                                        <div style="border: 1px dashed; padding:10px;height: 100%;">
                                            <div class="image-box"> 
                                                <img src="assets/images/ic_engagement.png" alt="Sync to Cloud" class="img-responsive" style="width: 65px; margin-bottom: 15px;">
                                                <h4 class="font-500">Procurement</h4>
                                            </div>
                                            <p>Generate Lot ids to support full traceability from the farm.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 m-t-40"></div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="get-started" style="background-color: #3F525A; padding: 70px 0px;">
        <div class="fix-width">
            <h2 class="text-center text-white">Ready to get Started?</h2>
            <p class="text-center text-white">Create an account or talk to our experts</p>
            <div class="down-btn text-center" style="margin-top: 50px;">
                <a class="btn btn-outline-info m-b-10" style="width: 180px; margin-right: 20px;" [routerLink]='["/pricing"]'>Request A Demo</a>
                <a class="btn btn-outline-info m-b-10" style="width: 180px;" [routerLink]='["/contactus"]'>Contact Us</a>
            </div>
        </div>
    </section>
    <section class="get-started" style="background-color: #EFEFEF; padding: 70px 0px;">
        <div class="fix-width">
            <h2 class="text-center" style="color: #03045E;">We are trustred by</h2>
            <div class="row text-center">
                <div class="col-md-2 m-t-40">
                    <div class="image-box">  
                        <img src="assets/images/powerbi.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                    </div>
                </div>
                <div class="col-md-2 m-t-40">
                    <div class="image-box">  
                        <img src="assets/images/klipfolio.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                    </div>
                </div>
                <div class="col-md-2 m-t-40">
                    <div class="image-box">  
                        <img src="assets/images/qlik.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                    </div>
                </div>
                <div class="col-md-2 m-t-40">
                    <div class="image-box">  
                        <img src="assets/images/zapier.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                    </div>
                </div>
                <div class="col-md-2 m-t-40">
                    <div class="image-box">  
                        <img src="assets/images/google_sheets.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                    </div>
                </div>
                <div class="col-md-2 m-t-40">
                    <div class="image-box">  
                        <img src="assets/images/powerbi.png" alt="Powerbi" class="img-responsive" style="width: 100px; margin-bottom: 15px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>