<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-primary">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="ti-pie-chart"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Clients</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">2610</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-success">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="icon-cloud-download"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Users</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">3548</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-success">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="icon-cloud-download"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Configurations</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">3548</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-success">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="icon-cloud-download"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Questionaires</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">3548</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-primary">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="ti-pie-chart"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Certifications</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">5045</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-success">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="icon-cloud-download"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Trainings</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">3548</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-success">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="icon-cloud-download"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Inspections</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">3548</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-3">
    <div class="card card-inverse card-success">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-20 align-self-center">
            <h1 class="text-white"><i class="icon-cloud-download"></i></h1>
          </div>
          <div>
            <h5 class="card-title">Purchases</h5>
            <h6 class="card-subtitle">March  2017</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-self-center">
            <h2 class="font-light text-white">3548</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
